- name: prepare image task
  include_tasks: tasks/prepare/{{ prepare_image_task }}.yml
  when: prepare_image_task is defined and prepare_image_task

- name: load image state
  include_tasks: tasks/state/load.yml

- name: set version related facts
  include_tasks: tasks/builder/version.yml

- name: use build cache
  include_tasks: tasks/builder/cache.yml
  when: build_cache | default(false) | bool

- name: force build if image from is built and changed
  when:
    - container_builder_image_from is defined
    - hostvars[container_builder_image_from].dockerfile_builder_image_build is defined
    - hostvars[container_builder_image_from].dockerfile_builder_image_build is changed
  set_fact:
    dockerfile_builder_force_source: true
    dockerfile_builder_force: true

- name: build image
  include_role:
    name: dockerfile_builder

- name: no build, end host
  when: not dockerfile_builder_build_omit | default(false)
  block:
    - name: get build image info
      docker_image_info:
        name: "{{ container_image }}"
      register: build_image_status

    - name: state image build fact
      when: not ansible_check_mode
      set_fact:
        state_yml_build: true
        state_yml_id: "{{ build_image_status.images[0].Id }}"

    - name: tag image
      include_tasks: tasks/builder/tag.yml

    - name: push image
      include_tasks: tasks/builder/push.yml
      when: build_push | default(false) | bool

    - name: save image state
      include_tasks: tasks/state/save.yml
