Node image based on {{ dockerfile_builder_image_based }} for Continuous Integration (CI). It contains node javascript runtime and other tools for build node apps in CI.

## Repository
This image is built from [this repo](https://github.com/krestomatio/container_builder/tree/master/{{ generated_relative_path }})
