Extends [{{ hostvars[container_builder_image_from].ctr_name }} container image](https://{{ hostvars[container_builder_image_from].container_image }}) to add additional Moodle plugins.

## Details
{% if dockerfile_builder_image_git_remote is defined %}
* Moodle remote repo: {{ dockerfile_builder_image_git_remote }}
{% endif %}
{% if hostvars[container_builder_image_from].moodle_git_source_version is defined %}
* Moodle version: {{ hostvars[container_builder_image_from].moodle_git_source_version }}
{% endif %}
{% if hostvars[container_builder_image_from].moodle_git_source_version_number is defined %}
* Moodle version number: {{ hostvars[container_builder_image_from].moodle_git_source_version_number }}
{% endif %}
{% if hostvars[container_builder_image_from].moodle_git_commit is defined %}
* Moodle commit: {{ hostvars[container_builder_image_from].moodle_git_commit }}
{% endif %}
{% if moodle_git_branch is defined %}
* Moodle remote branch: {{ moodle_git_branch | replace('_','\_') }}
{% endif %}

## Plugins
The following is the list of plugins:
{% for plugin in moodle_plugin_list.split() %}
- [{{ plugin }}](https://moodle.org/plugins/{{ plugin }})
{% endfor %}
## Repository
This image is built from [this repo](https://github.com/krestomatio/container_builder/tree/master/{{ ctr_name }})
