# temporary variables files
.ansible-ci/vars/**/*tmp_vars.yml
.ansible-ci/vars/**/*tmp_vault_vars.yml
.ansible-ci/vars/tmp/
# python
__pycache__
# local files
.ansible-ci/debug.yml
.ansible-ci/tmp/
.ansible-ci/files/templated_contexts/*-minimal/*-minimal.tar.xz
.ansible-ci/files/templated_contexts/*-minimal/distro-release
.ansible-ci/files/templated_contexts/*-minimal/pkgs-list
version.json
# local notes
.notes.md
# terraform
# Local .terraform directories
**/.terraform*/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
