[submodule "roles/dockerfile_builder"]
	path = roles/dockerfile_builder
	url = https://github.com/jobcespedes/dockerfile_builder
[submodule "src/github.com/krestomatio/centos8-minimal"]
	path = src/github.com/krestomatio/centos8-minimal
	url = https://github.com/krestomatio/centos8-minimal
