Image based on {{ dockerfile_builder_image_based }} for Moodle app/source

## Repository
This image is built from [this repo](https://github.com/krestomatio/container_builder/tree/master/{{ ctr_name }})
