{% if ctr_readme_section is defined %}
{{ ctr_readme_section }}
{% else %}
Moodle PHP-FPM image based on {{ dockerfile_builder_image_based }}
{% endif %}

## Repository
This image is built from [this repo](https://github.com/krestomatio/{{ ctr_name }})
