# dockerfile_builder
dockerfile_builder_excluded_files: >-
  {%- set files = [] -%}
  {%- for builder_platform in dockerfile_builder_platforms | default([]) -%}
  {%-   set f = ([pkgs_list_file] + [builder_platform.split('/')[0]] + [builder_platform.split('/')[1]]) | join('_') -%}
  {%-   set _ = files.append(f) -%}
  {%- endfor -%}
  {{ files }}

# source dir
template_path: "{{ template_dir }}/rootfs"

# rootfs
rootfs_install_dir: /mnt/rootfs
rootfs_dnf_vars: "contentdir={{ rootfs_repo_contentdir }} stream={{ rootfs_repo_releasever | string + '-stream' }} infra=container"
rootfs_extra_pkgs: ""

# prepare
distro_version_regex: '(?<=release\-).*(?=\.el\d\.noarch)'
pkgs_list_file: "pkg_list"
pkgs_list_dest: "{{ generated_path }}/{{ pkgs_list_file }}"
