HTTPD image based on {{ dockerfile_builder_image_based }}

## Repository
This image is built from [this repo](https://github.com/krestomatio/container_builder/tree/master/{{ generated_relative_path }})
