# image
container_builder_image_from: moodle_nginx_web
dockerfile_builder_image_name: "{{ ctr_name }}"
dockerfile_builder_image_summary: "PHP $PHP_VERSION and NGINX ${NGINX_VERSION} for Moodle {{ moodle_version }}"
dockerfile_builder_image_description: "This {{ dockerfile_builder_image_based }} based container image runs PHP ${PHP_VERSION} or NGINX ${NGINX_VERSION} for Moodle {{ moodle_version }}"
dockerfile_builder_image_title: "PHP ${PHP_VERSION} and NGINX ${NGINX_VERSION} for Moodle {{ moodle_version }}"
dockerfile_builder_image_ocp_tags:
  "{{ '${IMAGE_NAME},php,php-fpm,php${PHP_VER_SHORT},php-${PHP_VER_SHORT}'
  + ',nginx,nginx-${NGINX_VER_SHORT},nginx${NGINX_VER_SHORT}'
  + ',moodle,moodle${MOODLE_VER_SHORT},moodle-${MOODLE_VER_SHORT}' }}"
dockerfile_builder_force:
  "{{ true if hostvars['moodle_app'].dockerfile_builder_image_build is defined
  and hostvars['moodle_app'].dockerfile_builder_image_build is changed else false  }}"
dockerfile_builder_force_source: "{{ dockerfile_builder_force }}"
ctr_readme_section: |-
  This {{ dockerfile_builder_image_based }} based container image runs PHP {{ php_version }} or NGINX {{ nginx_version }} for Moodle {{ moodle_version }}.

  It includes a copy of Moodle source code, ready in the image public folder. A specific git commit is used to get the Moodle source version. That commit is fetch every build from remote repo to keep it up to date.  It is build from the latest available Moodle version (depending on the remote repo and branch set).

  ## Details

  {% if moodle_git_source_version is defined %}
  * Moodle version: {{ moodle_git_source_version }}
  {% endif %}
  {% if moodle_git_source_version_number is defined %}
  * Moodle version number: {{ moodle_git_source_version_number }}
  {% endif %}
  {% if moodle_git_commit is defined %}
  * Moodle commit: {{ moodle_git_commit }}
  {% endif %}
  {% if moodle_git_branch is defined %}
  * Moodle remote branch: {{ moodle_git_branch | replace('_','\_') }}
  {% endif %}

# source dir
template_path: "{{ template_dir }}/moodle_php-fpm"

# ci
prepare_image_task: moodle
version_release_no_bump: true

# other
moodle_php_redis_build: true
moodle_app_copy_from: "{{ registry_path }}/moodle_app{{ ':' +
  dockerfile_builder_image_from_tag if
  dockerfile_builder_image_from_tag is defined and dockerfile_builder_image_from_tag else '' }}"
