terraform_multiarch_builder: "{{ lookup('env','TERRAFORM_MULTIARCH_BUILDER') | default(false,true) | bool }}"
terraform_module: multiarch-builder
terraform_module_ref: krestomatio/multiarch-builder/aws
terraform_module_project_path: "/tmp/{{ terraform_module }}"
terraform_module_state: present
terraform_module_variables:
  prefix_name:
    "{{ [
          lookup('env','REPO_OWNER') | default('krestomatio',true),
          lookup('env','REPO_SUBDIR') | default('repo',true),
          lookup('env','JOB_NAME') | default('pr',true),
          lookup('env','PULL_NUMBER') | default('0',true),
          lookup('env','BUILD_ID') | default('0',true)
        ]  | join('-')
      }}"
terraform_module_backend_config:
  path: "{{ terraform_module_project_path }}/terraform.tfstate"
