- name: get moodle commit
  run_once: true
  retries: 3
  delay: 3
  until: moodle_git_ref is defined
  when:
    - dockerfile_builder_image_git_chk is defined
    - moodle_git_commit_get | default(false)
  vars:
    moodle_git_ref: "{{ lookup('url', dockerfile_builder_image_git_chk) }}"
  set_fact:
    moodle_git_commit: "{{ moodle_git_ref.object.sha }}"

- name: get moodle version from remote source
  run_once: true
  retries: 3
  delay: 3
  vars:
    moodle_git_source_version_from_url: "{{ lookup('url', moodle_git_source_version_url) }}"
  until: moodle_git_source_version_from_url is defined
  when:
    - moodle_git_source_version_url is defined
    - moodle_git_repo_version_regex is defined
  set_fact:
    moodle_git_source_version: "{{ moodle_git_source_version_from_url | regex_search(moodle_git_repo_version_regex) }}"
    moodle_git_source_version_number: "{{ moodle_git_source_version_from_url | regex_search(moodle_git_repo_version_number_regex) }}"

- name: set moodle version from remote source
  when:
    - moodle_git_source_version is defined
  set_fact:
    version_image_major: "{{ moodle_git_source_version.split('.')[0] | default(false) }}"
    version_image_minor: "{{ moodle_git_source_version.split('.')[1] | default(false) }}"
    version_image_patch: "{{ moodle_git_source_version.split('.')[2] | default(false) }}"
