{{ ansible_managed | comment }}
{{ ansible_host }}_image:
  build: {{ state_yml_build | default('false') | bool  }}
  tag: "{{ state_yml_tag }}"
  id: "{{ state_yml_id }}"
  repo_digest: "{{ state_yml_repo_digest }}"
