ctr_repo_name: moodle
ctr_version: "{{ moodle_version }}"

dockerfile_builder_image_git_remote: "https://github.com/moodle/moodle.git"
moodle_git_refs_json:
  url: "{{ 'https://api.github.com/repos/moodle/moodle/git/refs/heads/' +
    moodle_git_branch }}"
  headers_json: "{{ '{\"Authorization\": \"token ' + dockerfile_builder_image_git_token + '\"}' if dockerfile_builder_image_git_token is defined else '' }}"
moodle_git_repo_version:
  url: "{{ 'https://raw.githubusercontent.com/moodle/moodle/' +
  moodle_git_commit | default(moodle_git_branch) + '/version.php' }}"
  headers_json: "{{ '{\"Authorization\": \"token ' + dockerfile_builder_image_git_token + '\"}' if dockerfile_builder_image_git_token is defined else '' }}"
  regex: '(?<=\$release)(.*)(?=\s\(Build:)'
  regex_group: '([0-9]+)\.([0-9]+)\.([0-9]+)'
  number_regex: '(?<=\=\s)\d+\.\d+(?=\;)'

# ci
prepare_image_task: moodle
version_release_no_bump: true

# dockerfile
moodle_app_src: true
