This is a Centos8 Stream minimal container image similar to Fedora-minimal or UBI.

## How rootfs is created?
```bash
docker run --rm --privileged -v "$PWD:/build:z" \
    -e BUILD_KICKSTART=centos8-stream-minimal.ks \
    -e BUILD_ROOTFS=centos8-stream-minimal.tar.xz \
    quay.io/krestomatio/rootfs-creator
```

## How image is built?
```bash
docker build .
```

## Repository
This image is built from [this repo](https://github.com/krestomatio/container_builder/tree/master/{{ ctr_name }})
